.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35em;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100vh;
}

.slide-item {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.slide-item img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.school-name-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
    max-width: 1200px;
}

.school-name-text p {
    font-weight: bold;
    text-shadow: #4b4b4b 2px 2px 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container p {
    text-align: center;
    font-size: 3em;
    position: relative;
    z-index: 1;
    color: black;
}

.news h2, .img-articles {
    max-width: 1200px;
}

.news .img-articles {
    padding-bottom: 3em;
}

.news h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: normal;
    line-height: 3em;
}

.img-articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
}

.article {
    height: 18em;
    width: 25em;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

.article h3 {
    font-size: 55px;
    font-weight: normal;
    max-width: 300px;
    word-wrap: break-word;
}

.article p {
    font-size: 1.2em;
}

.flip-box-article {
    display: flex;
    gap: 4em;
}

.flip-box {
    background-color: transparent;
    height: 25em;
    width: 35em;
    border: 1px solid #f1f1f1;
    border-radius: 2em;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    height: 25em;
    width: 35em;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.image, .image-back {
    position: absolute;
    height: 25em;
    width: 35em;
    backface-visibility: hidden;
}

img {
    height: 25em;
    width: 35em;
}

.image, img {
    border-radius: 2em;
    background-color: #d2d2d2;
    color: black;
}

.image h2 {
    font-size: 2.5em;
}

.image-back {
    background-color: #d2d2d2;
    border-radius: 2em;
    color: black;
    transform: rotateY(180deg);
}

.games-places {
    background-color: black;
    padding: 30px 0 0 0;
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.games-places h2, th, td {*/
/*    font-family: Fjalla One, serif;*/
/*}*/

.games-places h2, .ptable {
    width: 1200px;
}

.games-places h2 {
    text-align: center;
    text-decoration: none;
    font-size: 45px;
    color: #ffe221;
    display: block;
}

.ptable table {
    width: 50em;
    margin: 30px auto;
    border: 2px solid black;
    border-collapse: collapse;
    cursor: alias;
}

.ptable th, td {
    padding: 10px;
}

.ptable td {
    cursor: pointer;
}

.ptable th {
    background-color: black;
    color: #ffe221;
}

.wpos {
    text-align: center;
}

.wpos td {
    color: #77ff21;
}

.pos {
    text-align: center;
}

.pos td {
    color: #ff7b21;
}

table .col {
    border-bottom: 1px solid #FFFFFF;
}

.wpos:hover {
    background-color: #77ff21;
}

.wpos:hover td {
    color: #000000;
}

.pos:hover {
    background-color: #ff7b21;
}

.pos:hover td {
    color: #000000;
}
