* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

header {
    background-color: black;
}

.header-div {
    margin: 0 12%;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    height: 80px;
}

.logo-wrapper img {
    height: 80px;
    width: 80px;
}

.about {
    display: flex;
}

.about a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 20px;
    color: white;
    width: auto;
    height: 66px;
    text-align: center;
    transition: font-size 0.3s ease-in-out;
    border: 1px black solid;
}

.about a:hover {
    text-decoration: none;
    border: 1px white solid;
    animation: blink 0.5s;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}

.dropdown {
    position: relative;
    z-index: 2;
}

.drop-btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    min-width: 500px;
}

.dropdown-content a {
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    background: #ffffff;
    color: #757575;
    width: auto;
    height: auto;
    border: none;
}

.dropdown-content a:hover {
    font-size: 20px;
    background: #757575;
    color: #ffffff;
    transition: background 0.1s ease-in-out;
    border: none;
    animation: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-div {
    height: 35em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-image-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/media/background_images/football_game.jpg");
    background-size: cover;
    opacity: 0.5;
}

.main-div p {
    text-align: center;
    font-size: 6em;
    position: relative;
    z-index: 1;
    color: black;
}

.news {
    margin: 0 12%;
    padding-bottom: 4em;
}

.news h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: normal;
    line-height: 3em;
}

.img-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
}

.article {
    height: 18em;
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.article h3 {
    font-size: 55px;
    font-weight: normal;
    max-width: 300px;
    word-wrap: break-word;
}

.article p {
    font-size: 25px;
}

.flip-box {
    background-color: transparent;
    height: 18em;
    width: 25em;
    border: 1px solid #f1f1f1;
    border-radius: 2em;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 25em;
    height: 18em;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.image, .image-back {
    position: absolute;
    height: 18em;
    width: 25em;
    backface-visibility: hidden;
}

img {
    height: 18em;
    width: 25em;
}

.image, img {
    border-radius: 2em;
    background-color: #d2d2d2;
    color: black;
}

.image-back {
    background-color: #d2d2d2;
    border-radius: 2em;
    color: black;
    transform: rotateY(180deg);
}

.games-places {
    background-color: black;
    padding: 30px 0;
}

/*.games-places h2, th, td {*/
/*    font-family: Fjalla One, serif;*/
/*}*/

.games-places h2 {
    text-align: center;
    text-decoration: none;
    font-size: 45px;
    color: #ffe221;
    display: block;

}

.ptable table {
    width: 50em;
    margin: 30px auto;
    border: 2px solid black;
    border-collapse: collapse;
    cursor: alias;
}

.ptable th, td {
    padding: 10px;
}

.ptable td {
    cursor: pointer;
}

.ptable th {
    background-color: black;
    color: #ffe221;
}

.wpos {
    text-align: center;
}

.wpos td {
    color: #77ff21;
}

.pos {
    text-align: center;
}

.pos td {
    color: #ff7b21;
}

table .col {
    border-bottom: 1px solid #FFFFFF;
}

.wpos:hover {
    background-color: #77ff21;
}

.wpos:hover td {
    color: #000000;
}

.pos:hover {
    background-color: #ff7b21;
}

.pos:hover td {
    color: #000000;
}

footer {
    background-color: white;
}

.footer-div {
    display: flex;
    justify-content: space-evenly;
    margin: 0 12%;
    padding: 20px 0;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 10em;
    color: black;
}

.footer-item p {
    width: 300px;
}

.footer-item h3 {
    font-weight: normal;
}






