{% extends "base.html" %}
{% load static %}

{% block head-links %}
    <link rel="stylesheet" href="{% static 'css/about-organization-list.css' %}">{% endblock %}

{% block main %}
    <main>
        <div class="main-info">
            <h2 style="margin-top: 24px;">Положение об апелляционной комиссии</h2>
            <p><a href="{% url 'download' %}?filename={{ appeal_commission_document_name }}&category=Учредительные_документы">Положение об апелляционной комиссии</a></p>
            <h2 style="margin-top: 24px;">Положение о порядке проведении индивидуального отбора</h2>
            <p><a href="{% url 'download' %}?filename={{ individual_selection_document_name }}&category=Учредительные_документы">Положение о порядке проведении индивидуального отбора</a></p>
            <h2 style="margin-top: 24px;">Положение о приемной комиссии</h2>
            <p><a href="{% url 'download' %}?filename={{ receiving_commission_document_name }}&category=Учредительные_документы">Положение о приемной комиссии</a></p>
            <h2 style="margin-top: 24px;">Порядок приема в ГБУ ДО КО СШ им.Ярцева</h2>
            <p><a href="{% url 'download' %}?filename={{ admission_procedure_document_name }}&category=Учредительные_документы">Порядок приема в ГБУ ДО КО СШ им.Ярцева</a></p>
        </div>
    </main>
{% endblock %}