{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ГБУ ДО КО «СШ  им. Г.А. Ярцева»</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="header-div">
        <div class="logo-wrapper">
            <a href="{% url 'home' %}"><img src="media/background_images/sports_school_logo.jpg" alt="logo_image"></a>
        </div>
        <div class="about">
            <div class="dropdown">
                <a class="drop-btn">Об организации</a>
                <div class="dropdown-content">
                    <a href="{% url "basic_info_url" %}">Основные сведения</a>
                    <a href="{% url "structure_management_url" %}">Структура и органы управления образовательной организацией</a>
                    <a href="{% url "documents_url" %}">Документы</a>
                    <a href="{% url "education_url" %}">Образование</a>
                    <a href="{% url "pedagogical_staff_url" %}">Руководство. Педагогический (научно-педагогический) состав</a>
                    <a href="{% url "support_and_equipment_url" %}">Материально-техническое обеспечение и оснащенность образовательного процесса</a>
                    <a href="{% url "paid_services_url" %}">Платные образовательные услуги</a>
                    <a href="{% url "financial_and_economic_url" %}">Финансово-хозяйственная деятельность</a>
                    <a href="{% url "vacant_seats_url" %}">Вакантные места для приема (перевода) обучающихся</a>
                    <a href="{% url "available_environment_url" %}">Доступная среда</a>
                    <a href="{% url "international_cooperation_url" %}">Международное сотрудничество</a>
                </div>
            </div>
            <a href="#news-section" title="faq">Новости</a>
            <a href="#" title="support">Условия приема</a>
            <a href="#" title="contacts">Контакты</a>

        </div>
    </div>
</header>

{% block main %}{% endblock %}

<footer>
    <div class="footer-div">
        <div class="footer-item">
            <p>© 2013–2023 ГБУ ДО КО «СШ  им. Г.А. Ярцева»</p>
        </div>
        <div class="footer-item">
            <h3>телефон</h3>
            <p>+7 (4942) 41-41-31</p>
        </div>
        <div class="footer-item">
            <h3>адрес</h3>
            <p>156016, Костромская область, город Кострома, микрорайон Давыдовский-3, дом. 19.</p>
        </div>
        <div class="footer-item">
            <h3>социальные сети</h3>            
            <p>ВК</p>
        </div>
    </div>
</footer>

</body>
</html>
