{% extends "base.html" %}
{% load static %}

{% block head-links %}<link rel="stylesheet" href="{% static 'css/about-organization-list.css' %}">{% endblock %}

{% block main %}
    <main>
        <div class="main-info">
            <h1>Основные сведения о школе</h1>
            <p><b>Полное наименование:</b> ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ДОПОЛНИТЕЛЬНОГО ОБРАЗОВАНИЯ КОСТРОМСКОЙ ОБЛАСТИ «СПОРТИВНАЯ ШКОЛА ИМЕНИ ВЫДАЮЩЕГОСЯ ЗЕМЛЯКА ГЕОРГИЯ АЛЕКСАНДРОВИЧА ЯРЦЕВА»</p>
            <p><b>Краткое наименование:</b> ГБУ ДО КО «СШ им. Г.А. Ярцева»</p>
            <p><b>ИНН:</b> 4401150265</p>
            <p><b>КПП:</b> 440101001</p>
            <p><b>ОГРН:</b> 1144401002602</p>
            <p><b>КПП:</b> 440101001</p>
            <p><b>ОГРН:</b> 1144401002602</p>
            <p><b>ОКОПФ:</b> 75203; <b>ОКФС:</b> 13;</p>
            <p><b>ОКПО:</b> 10979723; <b>ОКВЭД:</b> 93.19</p>
            <p><b>Банковские реквизиты:</b></p>
            <p><b>Единый казначейский счет:</b> 40102810945370000034</p>
            <p><b>Банк:</b> ОТДЕЛЕНИЕ КОСТРОМА БАНКА РОССИИ//УФК ПО КОСТРОМСКОЙ ОБЛАСТИ г. Кострома</p>
            <p><b>БИК:</b> 013469126</p>
            <p><b>Казначейский счет:</b> 03224643340000004101</p>
            <p><b>Получатель:</b> Департамент финансов Костромской области (ГБУ КО «СШ №3 им. Г.А. Ярцева» л/сч 834030094)</p>
            <p><b>Телефоны:</b> 
            <p>(4942) 41-41-31 - Администрация</p>
            <p>(4942) 41-41-21 - Пост охраны</p>
            <p>(4942) 41-41-55 - Пост охраны</p>
            <p><b>E-mail:</b> dush-3.14@mail.ru</p>
            <p><b>График работы администрации</b></p>
            <p>Понедельник – пятница: 09:00-18:00</p>
            <p>Перерыв: 13.00-14.00</p>
            <p>Суббота, Воскресенье: выходной</p>
            <p style="margin-top: 50px;">Функции и полномочия учредителя  государственного бюджетного учреждения Костромской области «Спортивная школа № 3 имени выдающегося земляка Георгия Александровича Ярцева» от имени  Костромской области осуществляет КОМИТЕТ ПО ФИЗИЧЕСКОЙ КУЛЬТУРЕ И СПОРТУ КОСТРОМСКОЙ ОБЛАСТИ</p>
            <p>Председатель комитета по физической культуре и спорту Костромской области - Чепогузов Павел Евгеньевич</p>
            <p>Юридический адрес: 156000, Костромская область, г. Кострома, ул. Советская, д. 9а</p>
            <p>сайт: спорт44.рф</p>
            <p>электронная почта: sport@adm44.ru</p>
            <p>телефон: (4942) 31-12-94</p>
            <p>факс: (4942) 47-04-72</p>
            <p></p>
        </div>
    </main>
{% endblock %}
