{% extends "base.html" %}
{% load static %}

{% block head-links %}<link rel="stylesheet" href="{% static 'css/basic-information-style.css' %}">{% endblock %}

{% block main %}
    <main>
        <h1>Контакты</h1>
        <p>Полное наименование: ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ДОПОЛНИТЕЛЬНОГО ОБРАЗОВАНИЯ КОСТРОМСКОЙ ОБЛАСТИ
            «СПОРТИВНАЯ ШКОЛА ИМЕНИ ВЫДАЮЩЕГОСЯ ЗЕМЛЯКА ГЕОРГИЯ АЛЕКСАНДРОВИЧА ЯРЦЕВА»</p>
        <p>Краткое наименование: ГБУ ДО КО «СШ им. Г.А. Ярцева»</p>
        <p>ИНН: 4401150265</p>
        <p>КПП: 440101001</p>
        <p>ОГРН: 1144401002602</p>
    </main>
{% endblock %}
