{% extends "base.html" %}
{% load static %}

{% block head-links %}<link rel="stylesheet" href="{% static 'css/about-organization-list.css' %}">{% endblock %}

{% block main %}
    <main>
        <div class="main-info">
            <h2 style="margin-top: 24px;">Дополнительная образовательная программа  спортивной подготовки по виду спорта "футбол"</h2>
            <p><a href="{% url 'download' %}?filename={{ document_name }}&category=Лицензии">Дополнительная_образовательная_программа_cпортивной_подготовки_по_виду_спорта_футбол</a></p>
        </div>
    </main>
{% endblock %}