{% extends "base.html" %}
{% load static %}

{% block head-links %}
    <link rel="stylesheet" href="{% static 'css/about-organization-list.css' %}">{% endblock %}

{% block main %}
    <main>
        <div class="main-info">
            <h2 style="margin-top: 24px;">Государственное задание 2023</h2>
            <p><a href="{% url 'download' %}?filename={{ state_order_document_name }}&category=Локальные_акты">Государственное
                задание 2023</a></p>
            <h2 style="margin-top: 24px;">План Финансово-Хозяйственной Деятельности на 2023</h2>
            <p><a href="{% url 'download' %}?filename={{ plan_document_name }}&category=Локальные_акты">План
                Финансово-Хозяйственной Деятельности на 2023</a>
            </p>
            <p style="margin-top: 24px;"><a href="https://bus.gov.ru/info-card/342690">ОФИЦИАЛЬНЫЙ САЙТ для размещения
                информации о государственных (муниципальных) учреждениях</a></p>
        </div>
    </main>
{% endblock %}