{% extends "base.html" %}
{% load static %}

{% block main %}
    <main>
        <div class="slider-container">
            <div class="slider-wrapper">
                <div class="slide-item">
                    <img src="{% static 'images/image1.jpg' %}" alt="Slide 1">
                </div>
                <div class="slide-item">
                    <img src="{% static 'images/image2.jpg' %}" alt="Slide 2">
                </div>
                <div class="slide-item">
                    <img src="{% static 'images/image3.jpg' %}" alt="Slide 3">
                </div>
                <div class="slide-item">
                    <img src="{% static 'images/image4.jpg' %}" alt="Slide 4">
                </div>
                <div class="slide-item">
                    <img src="{% static 'images/image5.jpg' %}" alt="Slide 5">
                </div>
            </div>
            <div class="school-name-text">
                <p>Спортивная школа имени выдающегося земляка</p>
                <p>Георгия Александровича Ярцева</p>
            </div>
        </div>
        <div class="news">
            <a id="news-section"></a>
            <h2>Новости спортивной школы</h2>
            <div class="img-articles">
                {% for one_news in news %}
                    {% if forloop.counter0|divisibleby:2 %}
                        <div class="flip-box-article">
                            <div class="flip-box">
                                <div class="flip-box-inner">
                                    {% if one_news.first_photo %}
                                        <div class="image">
                                            <img src="{{ one_news.first_photo }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="image">
                                            <h2>Здесь нет фото</h2>
                                            <p>Дополнительная информация о нашей школе</p>
                                        </div>
                                    {% endif %}
                                    <div class="image-back">
                                        <h2>Amazing</h2>
                                        <p>Обратная сторона карточки</p>
                                    </div>
                                </div>
                            </div>
                            <div class="article">
                                <h3>{{ one_news.title }}</h3>
                                <p>{{ one_news.description }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="flip-box-article">
                            <div class="article">
                                <h3>{{ one_news.title }}</h3>
                                <p>{{ one_news.description }}</p>
                            </div>
                            <div class="flip-box">
                                <div class="flip-box-inner">
                                    {% if one_news.first_photo %}
                                        <div class="image">
                                            <img src="{{ one_news.first_photo }}" alt="">
                                        </div>
                                    {% else %}
                                        <div class="image">
                                            <h2>Здесь нет фото</h2>
                                            <p>Дополнительная информация о нашей школе</p>
                                        </div>
                                    {% endif %}
                                    <div class="image-back">
                                        <h2>Amazing</h2>
                                        <p>Обратная сторона карточки</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="games-places">
            <h2>Футбольные матчи нашей школы</h2>
            <div class="ptable">
                <table>

                    <tr class="col">
                        <th>#</th>
                        <th>team 1</th>
                        <th>team 2</th>
                        <th>result</th>
                    </tr>
                    <tr class="wpos">
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td>Germany</td>
                    </tr>
                    <tr class="wpos">
                        <td>Another text here</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td>Germany</td>
                    </tr>
                    <tr class="pos">
                        <td>Centro comercial Moctezuma</td>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>

    <script>
        const sliderWrapper = document.querySelector('.slider-wrapper');
        const slideItems = document.querySelectorAll('.slide-item');
        let slideIndex = 0;

        function goToSlide(index) {
            sliderWrapper.style.transform = `translateX(-${index * 100}%)`;
            slideIndex = index;
        }

        function nextSlide() {
            if (slideIndex === slideItems.length - 1) {
                goToSlide(0);
            } else {
                goToSlide(slideIndex + 1);
            }
        }

        setInterval(() => {
            nextSlide();
        }, 5000);

    </script>
{% endblock %}
