{% extends "base.html" %}
{% load static %}

{% block head-links %}
    <link rel="stylesheet" href="{% static 'css/about-organization-list.css' %}">{% endblock %}

{% block main %}
    <main>
        <div class="main-info">
            <h2 style="margin-top: 24px;">Информация о заключенных и планируемых к заключению договорах с иностранными и
                (или) международными
                организациями по вопросам образования и науки (при наличии)</h2>
            <p>Не предусмотрены</p>
            <h2 style="margin-top: 24px;">Информация о международной аккредитации образовательных программ (при
                наличии)</h2>
            <p>Не предусмотрены</p>
        </div>
    </main>
{% endblock %}