{% extends "base.html" %}
{% load static %}

{% block head-links %}<link rel="stylesheet" href="{% static 'css/about-organization-list.css' %}">{% endblock %}

{% block main %}
    <main>
        <div class="main-info">
            <h2 style="margin-top: 24px;">ГЗ 2023</h2>
            <p><a href="{% url 'download' %}?filename={{ document_name }}&category=положение о порядке поступления и использования средств, полученных от предпринимательской и иной приносящей доход деятельности"></a></p>
        </div>
    </main>
{% endblock %}